.DS_Store

**/node_modules/
**/dist
.git

.gitignore
.env
.env.local
.env.test

**/coverage/

.husky
.vscode
.postgres
.deploy

.eslintrc.json
.prettierrc
jest.config.js

*.md

**/*.test.ts

Dockerfile
